{% extends 'base_huesped/base_huesped.htm' %}

{% block navbar %}
{% endblock %}

{% block content %}

{% if validlink %}

<div class="alert alert-ligth"role="alert">Recuperar contraseña</div>

<form method="post">
  {% csrf_token %}

  {{ form.new_password1.errors }}
  <label for="id_new_passqord1">Introduzca su nueva contraseña</label>
  {{ form.new_password1 }}

  {{ form.new_password2.errors }}
  <label for="id_new_passqord2">Confirme su nueva contraseña</label>
  {{ form.new_password2 }}
  <input type="submit" value="cambiar mi contraseña"/>

</form>

{% else %}

<div class="alert alert-ligth"role="alert">Recuperar contraseña</div>

{% endif %}

{% endblock %}