{%extends 'base/baseHabitacion.html'%}

{% block content %}
<a class="btn btn-success" href="{% url 'huesped_agregar' %}">Agregar</a>

    {% if object_list%}
    <table class= "table table-bordered">
      <thead>
        <tr>
          <td>#</td>
          <td> Nombre </td>
          <td> Apellido </td>
          <td> Dirección </td>
          <td> Documento </td>
          <td> Telefono </td>
          <td> Nacionalidad </td>
          <td> Acciones </td>
    
        </tr>
      </thead>
      <tbbody>

    {% for gestion in object_list %}
    <tr>

      <td> {{gestion.id_Cliente}} </td>
      <td> {{gestion.nombre}} </td>
      <td> {{gestion.apellido}} </td>
      <td> {{gestion.direccion}} </td>
      <td> {{gestion.documento}} </td>
      <td> {{gestion.telefono}} </td>
      <td> {{gestion.nacionalidad}} </td>
      <td>
        <a class="btn btn-primary" href="{% url 'huesped_edit' gestion.id_Cliente %}">Editar</a>
        <a class="btn btn-danger" href="{% url 'huesped_delete' gestion.id_Cliente %}">ELiminar</a> 
      </td>
    
    </tr>
    {% endfor %}
    {% else %}
    <h1>No se ha encontrado información</h1>
    {% endif %}
  </tbbody>
</table>
{% endblock %}