{%extends 'base/basehabitacion.html'%}
{% block content %}
<a href="{% url 'Alquiler_crear' %}" class="btn btn-success">Agregar</a>
  
      {% if object_list %}
      <table class= "table table-bordered">
        <thead>
          <tr>
            <td>#</td>
            <td>Fecha de Entrada</td>
            <td>Fecha de Salida</td>
            <td>costoTotal</td>
            <td>observacion</td>
            <td>registrador</td>
            <td>estado</td>
            <td>cliente</td>
            <td>habitacion</td>
            <td>acciones</td>
          </tr>
        </thead>
        <tbody>
      {% for Alquiler in object_list %}
        <tr>
          <td>{{Alquiler.id}}</td>
          <td>{{Alquiler.fechaHoraEntrada}}</td>
          <td>{{Alquiler.fechaHoraSalida}}</td>
          <td>{{Alquiler.costoTotal}}</td>
          <td>{{Alquiler.observacion}}</td>
          <td>{{Alquiler.registrador}}</td>
          <td>{{Alquiler.estado}}</td>
          <td>{{Alquiler.cliente}}</td>
          <td>{{Alquiler.habitacion}}</td>
          <td>
            <a class="btn btn-primary" href="{% url 'Alquiler_editar' Alquiler.id%}">Editar</a>
            <a class="btn btn-danger"  href="{% url 'Alquiler_eliminar' Alquiler.id%}">eliminar</a>
          </td>
        </tr>
      {%endfor%}
      {%else%}
      <h1>No hay registro de alquileres</h1>
      {%endif%}
    </tbody>
  </table>
{%endblock%}