{% load static %}

<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css'%}">
    <title>{%block title %}ECO-HOTEL {%endblock %}</title>
  </head>
  <body>
    <script src="{% static 'js/bootstrap.min.js'%}" ></script>
    <script src="{% static 'js/jquery.min.js'%}"></script>

    {%block navbar%}
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Gestión Huesped</a>
      
    
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item dropdown">
            <a class="nav-link" href="nacionalidad/nueva">Ingresar Nacionalidad</a>
          </li>
          
          </ul>
      </div>
    </nav>
    {%endblock navbar%}

    {%block content%}
    {%endblock%}


  </body>

</html>